.summary{
  background:linear-gradient(rgb(231, 190, 5),rgb(40, 168, 207));
  border:2px solid black;
  border-radius:5px;
  width:40%;
  display:block;
  margin:1rem auto ;
  padding-top:1rem;

}
.summaryContainer {
  min-height:300px;
  padding-bottom:20px;
}
.summary li{
  list-style:none;
  margin-bottom:0.5rem;

}
.name{
  font-family: 'Lobster',cursive;
  color:white;

}
li span{
  font-family:'Lato', serif;
  font-weight:700;
}
.infoLink {
  color:#E93925;
}
.summary li{
  display:flex;
  justify-content: space-around;
}
.summary button{
  background:tomato;
  border:1px solid black;
  color:white;
}
.summary p{
  text-align: center;
  margin-right:1rem;
}
.summary button:hover{
  cursor: pointer;
  transform:scale(1.03)
}
p a{
  color:white;
  text-decoration: none;

}
@media (max-width:720px){
  .summary{
    font-size:0.8rem;
    width:60%;
  }
  .summary button{
    height:0.9rem;
    padding-bottom:5px;
  }
  .summary li{
    margin-left:-2.5rem;
  }
  .summary p{
    margin-left:-2.5rem;
  }
  p{
    font-size:0.8rem;
    margin:1rem 1rem;
  }

}
