.contactPage{
  height:350px;
  background: linear-gradient(rgb(16, 138, 131),rgb(68, 157, 248));
  padding-top:1rem;
}
.cContactPage h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top:0;
  padding-top:1rem;
}
.wrap{
  width:40%;
  height:400px;
  margin-top:1rem;
  margin:0 auto;
}
.links a{
  color:white;
  font-weight: 700;
  text-decoration: none;
}
.links a:hover{
  color:tomato;

}
@media(max-width:450px){
  .contactPage{
    font-size:0.8rem;
  }
  .wrap{
    width:70%;
    margin-left:25%;
  }
}
