.potato img{
  max-width:250px;
  display:block;
  border:2px solid #000000;
  margin:1rem auto;
}
.potato h3{
  text-align: center;
}
h4{
  text-align: center;
  margin:0;
  padding-bottom: 2rem;
}
.form{
   display: block;
  width:30%;
  margin:1rem auto;
 }
.form label{
   margin-bottom: 1rem;
   display: block;
   text-align: center;

}
.form input[type='submit']{
  background-color:tomato;
  border:none;
  border-radius:5px;
  padding:4px 10px;;
  border:1.5px solid black;
  margin-left:0.5rem;
}
.form input[type='submit']:hover{
  cursor: pointer;
  transform:scale(1.1);

}
.form input[type='text']{
  border:2px solid black;
  border-radius:5px;
  padding:4px;
  margin-left:3rem;
}
.info{
  background:linear-gradient(tomato,rgb(40, 168, 207));
  border:2px solid black;
  border-radius:5px;
  width:25%;
  height:100px;
  display:block;
  margin:0 auto;
  padding:1rem 0.5rem 1rem 0.5rem;;
}
.info li{
  list-style-type: none;
  display:block;
  color:white;
  display:flex;
  margin:0 0.5rem 0.5rem 0;
  justify-content: space-between;
}

li span{
  font-family:'Lobster', cursive;

}
.summaryBtn{
  display:block;
  margin:0 auto;
  background:tomato;
  border: 2px solid black;;
  color:white;
  font-weight:700;
  padding:0.75rem;
  margin-top:1rem;
  border-radius:5px;
}
.summaryBtn:hover{
  cursor: pointer;

}
.intakeContainer {
   height:300px;
}
.msg {
  margin-left:2rem;
}
.error{
  background-color:tomato;
  color:white;
  text-align: center;
  height:3rem;
  font-size:1rem;
  padding:0.5rem;
}
.hideBtn{
  display:block;
  margin:0 auto;
  background:rgb(235, 231, 6);
  border: 2px solid black;;
  color:black;
  font-weight:700;
  padding:0.75rem;
  margin-top:1rem;
  border-radius:5px;
}
.hideBtn:hover{
  cursor: pointer;

}

@media(max-width:650px){
  .info{
    width:40%
  }
  .info li{
    font-size:0.8rem;
  }
  .form{
        width:80%;
   }
   .form input[type='submit']{
   display:block;
   margin:0.3rem auto;

  }
}
