h4{
  text-align: center;
  margin:0;
  padding-bottom: 2rem;
}
.form{
  display: block;
  width:30%;
  margin:1rem auto;
 
}
.form label{
  margin-bottom: 2rem;
}
form input[type='submit']{
  background-color:tomato;
  border:none;
  border-radius:5px;
  padding:4px;
}
.form input[type='text']{
  border:2px solid black;
  border-radius:5px;
}
.info{
  background:linear-gradient(tomato,rgb(40, 168, 207));
  /* box-shadow: 2px 2px 2px black; */
  border:2px solid black;
  border-radius:5px;
  width:20%;
  height:100px;
  display:block;
  margin:0 auto;
  padding-top:1rem;
}
.info li{
  list-style-type: none;
  display:block;
  margin:0 auto;
  color:white;
}
li span{
  font-family:'Lobster', cursive;

}
@media(max-width:650px){
  .info{
    width:40%
  }
}
