.RegisterPage{
  height:500px;
  background:linear-gradient(rgb(97, 201, 144),rgb(207, 149, 40));
  padding-top:1rem;
}
.RegisterPage h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top:0;
  padding-top:1rem;
}
.wrap{
  width:40%;
  height:400px;
  background:linear-gradient(rgb(97, 201, 144),rgb(207, 149, 40));
  box-shadow: 1px 2px 2px  black;
  margin:0 auto;
  border-radius:5px;
  margin-top:1rem;
}
.RegisterPage label{
  display:block;
  margin:10px 0 0 1rem;
}
.RegisterPage input{
  display:block;
  margin:10px auto;;
  width:80%;
  border-radius:4px;
  border:none;
  height:2rem;
}
.RegisterPage h5{
  text-align: center;
}
.RegisterPage a:active,
.RegisterPage a:hover{
  color:white;
}

.RegisterPage input[type="submit"]{
  background:tomato;
  width:40%;
  border:none;
  padding:10px;
  margin:10px auto;
  cursor: pointer;
  color:white;
  box-shadow:1px 1px 1px black;
  font-size:1rem;
}
.RegisterPage input[type="submit"]:hover{
transform:scale(1.04)
}
@media(max-width:700px){
  .wrap{
    width:70%;
    margin-left:25%;
  }
}